.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.character-list{
  display: flex;

  flex-wrap: wrap;

}
.item{
  width: 30%;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    background: black;
    margin: 15px;
}

.item ul{
  list-style-type: none;
  padding: 0;
}
.fr{
  float: right;
}
